body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f8f9fa;
}

h2 {
    color: #343a40;
}

#search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px 15px;
    text-align: left;
    border-bottom: 1px solid #ced4da;
}

th {
    background-color: #f2f2f2;
    color: #343a40;
}

td {
    font-size: 16px;
    color: #343a40;
}

.user-item button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.user-item button:hover {
    background-color: #0056b3;
}

.user-item span {
    display: block;
    margin-bottom: 10px;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3;
}





/*
 <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 8px 12px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        .user-item button {
            padding: 5px 10px;
            cursor: pointer;
        }

        .user-item span {
            display: block;
            margin-bottom: 10px;
        }
    </style>
    /*